<ion-view title="Inicio" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
      <div class="responsive-wrap">
        <div class="cols" ng-repeat="ownership in ctrl.ownerships">
          <div class="list card " ng-click="ctrl.gotoLogin(ownership.id)" id="{{ownership.id}}-card">
            <div style="margin: 0px; text-align: center;
              background-color: rgb(232, 235, 239);">
              <img width="100%" src="img/logos/{{ownership.image}}">
            </div>
          </div>

          <a ng-click="ctrl.gotoNegocio(ownership.id)"  class="float-button">
            <i class="icon ion-information"></i>
          </a>
        </div>
      </div>
    </ion-content>
</ion-view>
