<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list id="menu-null" class=" ">
                <ion-item id="menu-list-inicio" ui-sref="menu.inicio" menu-close="" class="  ">Inicio</ion-item>
                <ion-item ng-if="!ctrl.isGuest" id="menu-list-indicadores" ui-sref="menu.indicadores" menu-close="" class="  ">Indicadores</ion-item>
                <ion-item ng-if="!ctrl.isGuest" id="menu-list-eventos" ui-sref="menu.eventos" menu-close="" class="  ">Eventos</ion-item>
                <ion-item ng-if="!ctrl.isGuest" id="menu-list-espacios" ui-sref="menu.espacios" menu-close="" class="  ">Espacios</ion-item>
                <ion-item ng-if="ctrl.isGuest" class="item-icon-left  " id="menu-list-login" ui-sref="menu.entrar" menu-close="">
                    <i class="icon ion-log-in"></i>Entrar</ion-item>
                <ion-item ng-if="!ctrl.isGuest" class="item-icon-left  " id="menu-list-logout" ui-sref="menu.entrar" menu-close="" ng-click="ctrl.logout()">
                    <i class="icon ion-log-out"></i>Salir</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
