/* Empty. Add your own CSS if you like */
.responsive-wrap {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.cols {
  padding: 5px;
}

@media only screen and (max-device-width: 567px) {
  .cols {
    width: 33% !important;
  }
}

@media only screen and (min-device-width: 568px) and (max-device-width: 768px) {
  .cols {
    width: 25% !important;
  }
}

@media only screen and (min-device-width: 769px) {
  .cols {
    width: 20%;
  }
}
